.column:first-child .box {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.column:nth-of-type(2) .box {
  background-color: #11999e;
}

.column:first-child .box > * {
  text-align: center;
}
