.wrapper .main-navbar {
  min-height: 10vh;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.12);
}

.main-navbar .navbar-brand .item-navbar {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.logout {
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.logout:hover {
  color: #667471;
}

.navbar-menu > * {
  display: flex;
  align-items: center;
  color: #40514e;
}

.wrapper .box-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  width: 90vw;
  margin: 0 auto;
  padding-top: 5vh;
}

.navbar-mobile-menu {
  display: flex;
  justify-content: space-between;
}

.navbar-mobile-menu .navbar-start,
.navbar-mobile-menu .navbar-end {
  display: flex;
  align-items: center;
}

.navbar-mobile-menu .navbar-start .navbar-brand .item-navbar {
  display: flex;
}

.navbar-mobile-menu .navbar-end {
  align-items: center;
  margin-right: 15px;
}

.navbar-mobile-menu .hamburger-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  visibility: hidden;
  transform: translateX(0);
  transition: transform 1s, visibility 0s 1s;
}

.navbar-mobile-menu .hamburger-menu.is-active {
  visibility: visible;
  transform: translateX(-100%);
  transition: transform 1s, visibility 0s 0s;
}

.navbar-mobile-menu .hamburger-menu .close-nav {
  position:absolute;
  top:50%;
  left:10px;
  transform: translateY(-50%);
  display: flex;
  align-items:center;
}

.navbar-mobile-menu .hamburger-menu .logo {
  position:relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar-mobile-menu .hamburger-menu .hamburger-menu-items {
  display: flex;
  height:100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
}

.navbar-mobile-menu .hamburger-menu .hamburger-menu-items .hamburger-menu-item{
  width:100%;
  display:flex;
  justify-content: center;
  align-items:center;
}

.navbar-mobile-menu .hamburger-menu .hamburger-menu-items .hamburger-menu-item >a{
  padding:20px;
  color:#363636;
  font-weight: 500;
}


.navbar-mobile-menu .hamburger-menu .hamburger-menu-item a.user-name {
  padding-left: 20px;
}

@media (max-width: 1023px) {
  .wrapper .main-navbar {
    min-height: auto;
  }
}

@media (orientation: landscape) {
  .navbar-mobile-menu .hamburger-menu .hamburger-menu-items .hamburger-menu-item >a{
    font-size:22px;
  }
  .navbar-mobile-menu .hamburger-menu .hamburger-menu-items {
    font-size: 20px;
  }

  .navbar-mobile-menu .hamburger-menu .close-nav {
    margin: 5px 10px;
  }

  .navbar-mobile-menu .hamburger-menu .logo {
    padding: 5px 0;
  }
}
