.table tr.is-selected {
  background-color: #11999e;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

.title-color {
  color: #11999e;
}
.is-danger {
  text-shadow: 0 0 4px black;
  font-size: 15px;
  font-weight: bold;
}

.wrapper {
  height: 100vh;
}

.is-horizontal-center {
  margin: 0 auto;
}

.small-line-height {
  line-height: 0.5;
}
