.lerning-wrapper {
  height: 100vh;
  display: flex;
}

h2.subtitle.is-2.words {
  color: #11999e;
  text-align: center;
}

form .button.check:hover {
  border-color: #667471;
  transform: scale(1.01);
}

.center-text {
  text-align: center;
}
